* {
    font-family:"poppins",sans-serif;
}

body {
    background-color: rgb(230, 227, 227);
}

.order-div {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.form-registro {
    position: static;
    top: 10%;
    left: 35%;
    background-color: white;
    width: 50%;
    height: 100vh;
    min-height: 850px;
    text-align: center;
    margin: 0 0 0 auto;
    padding-top: 100px;
}

.bienvenido-texto {
    position: absolute;
    top: 8%;
    left: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    background-color: rgb(255, 255, 255);
    padding: 2px;
}

.div-img {
    width: 50%;
}

.div-img .bienvenido-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.div-ingresar {
    flex-basis: 100%;
    text-align: center;
}

.div-ingresar > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

.ingresar-texto {
    font-size: 30px;
}


.registro-info {
    border-style: hidden; 
    border-color: black;
    border-bottom-style: solid;
    width: 80%;
    font-size: 20px;
}

.registro-info:focus {
    outline: none;
}

.registro-texto {
    margin-top: 10vh;
    font-size: 30px;
}

.registro-fin {
    margin-top: 10vh;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: white;
    border-color: rgb(97, 228, 184);
    color: rgb(97, 228, 184);
    border-style: solid;
}


/*footer y header*/

