body
{
   
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #FFFCF1;
}
h1
{
    font-size: 50px;
}
.Cnt-Logros 
{
    position:flex;
    display: block;
    align-items: center;
    justify-content: center;
    width:60%;
    margin:auto;
    padding: 50px;
    margin-bottom: 30px;
    height: min-content;
    background-color: #32323E;
    border-radius: 3%;
}
.Cnt-Logros .Sec-Tarea
{
    background-color: #40476D;
}
.Cnt-Logros .Sec-Tarea .Tarea
{
    padding: 10px;
    margin: 5px;
    border-radius: 1px;
    background-color: #1B9AAA;

}
.Cnt-Logros .Sec-Tarea .Tarea:hover
{
    background-color: #F6BE00;
    color: black;
}
.Cnt-Logros .Sec-Diarias
{
    background-color: #40476D;
    color: wheat;
}

.Tarea
{
    padding: 1px;
    margin: 5px;
    border-radius: 1px;
    background-color: #1B9AAA;

}
.Tarea:hover
{
    background-color: #F6BE00;
    color: #212121;
    
}
.Desc-Tarea
{
    overflow: hidden;
    max-height: 0;
    transition: all .2s ease-in;


}
.Tarea:hover .Desc-Tarea
{
    overflow:visible;
    transition: .4s;
    max-height: 50px;
    padding: auto;
    color: #212121;
    transition: .2s;
}
/*Flecha regreso*/

.regresar a
{
    font-size: xx-large;
    color: #F6BE00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #32323E;
    border-radius:10px;
    width:auto;
    height: auto;
    border-color: black;
    
}
.regresar a:hover
{
    transition: 1s;
    color: #F6BE00;
}

