@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

:root {
    --color1: #32323E;
    --color2: #40476D;
    --color3: #1B9AAA;
    --color4: #FFFCF1;
    --color5: #F6BE00;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}

body {
    background-color: var(--color3);
}

/* Layout de la pagina */
.layout {
    position: static;
    display: flex;
    flex-wrap: wrap;
    width: 74vw;
    margin: 0 auto 0;
    padding-top: 120px;
}

/* Filtros */
.section-center {
    display: flex;
    flex-wrap: wrap;
    max-width: 74vw;
    width: 80vw;
    margin: 0 auto;
}
/* CSS */
.filter-btn {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-right: 5px;
}

.filter-btn:hover,
.filter-btn:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.filter-btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.filter-btn:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.section-center > * {
    margin: 20px 30px;
}

.btn-container {
    width: 86%;
}

.botones {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.nuevo-proyecto {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.nuevo-proyecto:hover {
    background-color: white;
    background-position: 0 0;
    color: #FF4742;
}

.boton {
    width: 20vw;
    height: 28vh;
    background-color: rgb(192, 192, 187);
    border-color: #888;
    border-radius: 10px;
}

.boton:hover {
    transform: scale(1.1);
  }


.proyecto {
    text-align: left;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.completed {
  -webkit-filter: grayscale(1);
}

.titulo {
    font-size: 30px;
    height: 20%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.titulo p {
  margin: 0 auto;
}

.titulo input {
  position: absolute;
  margin-top: 2vh;
  margin-left: 2vw;
}

.defaultT {
    background-color: var(--color5);
}

.defaultD {
    background-color: var(--color1);
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.descripcion {
    height: 80%;
    padding: 10px;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.descripcion p {
    margin-top: 0;
    color: white;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: auto;
    max-height: 100%;
  }

  .radio-container {
    background-color: var(--color4);
    height: 90px;
    width: 260px;
    position: relative;
    overflow: hidden;
    margin-left: 18vw;
    margin-top: 100px;
  }

  input[name="type"] {
    display: none;
  }

  .todo, .diario {
    display: block;
    height: 180px;
    width: 130px;
    background-size: 130px 180px;
    position: absolute;
    top: 0;
    transition: 0.5s;
    color: #2c2c2c;
  }

  .diario {
    right: 0;
  }

  .span-tipo {
    display: flex;
    height: 90px;
    width: 130px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }

  input:checked + label {
    color: black;
    transition: 0.2s;
    background-color: var(--color5);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--color1);
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid var(--color1);
    width: 60%; /* Could be more or less, depending on screen size */
    height: 60%;
    max-height: 60%;
    overflow-y: auto;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    float: left;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(155, 22, 22);
    text-decoration: none;
    cursor: pointer;
  }

  .form-modal {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

.form-modal > * {
    margin: 1vh auto 0;
}

.texto-info {
    font-size: 30px;
}

.tarea-info {
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    width: 50vw;
    margin-bottom: 1vh;
    padding: 5px;
}

.informacion-texto {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tarea-info:focus {
    outline-offset: 10px;
    outline-width: 2px;
    outline-color: var(--color4);
}

#descripcion-tarea {
    height: 20vh;
    line-height: 1.5;
    resize: none;
}

.colores-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
}

.color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.color:after {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    border: 2px solid white;
}

.c1:checked:after, .c1:hover:after {
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background: linear-gradient(blue 50%, red 50%);
    content: '';
    display: inline-block; 
    border: 2px solid white;
}

.c2:checked:after, .c2:hover:after {
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background: linear-gradient(orange 50%, purple 50%);
    content: '';
    display: inline-block;
    border: 2px solid white;
}


.rating {
  --dir: right;
  --fill: gold;
  --fillbg: rgba(100, 100, 100, 0.15);
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 3rem;
  --value: 1;
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: calc(var(--stars) * var(--starsize));
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
}
[dir="rtl"] .rating {
  --dir: left;
}
.rating::-moz-range-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--star);
}
.rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--star);
  -webkit-mask: repeat left center/var(--starsize) var(--star);
}
.rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: calc(var(--starsize) / 2);
}
.rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: calc(var(--starsize) / 2);
  -webkit-appearance: none;
}
.rating, .rating-label {
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
  margin-block-end: 1rem;
}