@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20%;
    background: lightgray;
    display: flex;
    justify-content: space-between;
    align-items:end;
    z-index: 100;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    max-width: 74vw;
    width: 80vw;
    margin: 100px auto 0;
}

.section-center {
    display: flex;
    flex-wrap: wrap;
    max-width: 74vw;
    width: 80vw;
    margin: 0 auto;
}

.section-center > * {
    margin: 20px 30px;
}

.btn-container {
    width: 100%;
}

.boton {
    width: 20vw;
    height: 28vh;
    background-color: rgb(192, 192, 187);
    border-color: #888;
    border-radius: 10px;
}

.boton:hover {
    transform: scale(1.1);
  }

.nuevo-proyecto {
    text-align: center;
    user-select: none;
}

.nuevo-proyecto:hover {
    background-color: rgb(173, 173, 171);
}

.proyecto {
    text-align: left;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 30px;
    height: 20%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

.defaultT {
    background-color: white;
}

.defaultD {
    background-color: rgb(95, 95, 95);
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.descripcion {
    height: 80%;
    padding: 10px;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.descripcion p {
    margin-top: 0;
    color: white;
}

.proyecto-boton {
    width: 200px;
    height: 140px;
    background-color: aquamarine;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 50%;
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .form1-modal {
    text-align: center;
  }

.texto-info {
    font-size: 30px;
}

.tarea-info {
    border-radius: 15px;
    font-size: 20px;
    width: 50vw;
    margin-bottom: 1vh;
}

#descripcion-tarea {
    height: 20vh;
    line-height: 1.5;
    resize: none;
}

.color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.color:after {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    border: 2px solid white;
}

.c1:checked:after, .c1:hover:after {
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background: linear-gradient(blue 50%, red 50%);
    content: '';
    display: inline-block;
    border: 2px solid white;
}

.c2:checked:after, .c2:hover:after {
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background: linear-gradient(orange 50%, purple 50%);
    content: '';
    display: inline-block;
    border: 2px solid white;
}