* {
    font-family:"poppins",sans-serif;
}

body {
    background-color: rgb(230, 227, 227);
    position: relative;
    padding-bottom: 250px;
    min-height: 100vh;
}


.form-registro {
    position: static;
    top: 10%;
    left: 35%;
    background-color: white;
    width: 35%;
    height: 100vh;
    min-height: 850px;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

.form-registro > * {
    display: block;
    margin: 5vh auto 0;
}

.ingresar-texto {
    font-size: 30px;
}

.registro-info {
    border-style: hidden; 
    border-color: black;
    border-bottom-style: solid;
    width: 80%;
}

.registro-info:focus {
    outline: none;
}

.registro-texto {
    font-size: 30px;
}

.registro-fin {
    border-radius: 20px;
    padding: 10px 30px;
    background-color: white;
    border-color: rgb(97, 228, 184);
    color: rgb(97, 228, 184);
    border-style: solid;
    margin-top: 30px;
}


