* {
    font-family:"poppins",sans-serif;
}

body {
    background-color: rgb(230, 227, 227);
}


.form-registro {
    position: absolute;
    top: 10%;
    left: 35%;
    background-color: white;
    width: 30%;
    height: 88vh;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 100px;
}

.form-registro > * {
    display: block;
    padding-top: 15px;
    margin: auto;
}

.ingresar-texto {
    font-size: 30px;
}

.registro-info {
    border-style: hidden; 
    border-color: black;
    border-bottom-style: solid;
    width: 80%;
}

.registro-info:focus {
    outline: none;
}

.registro-texto {
    font-size: 30px;
}

.registro-fin {
    border-radius: 20px;
    padding: 10px 30px;
    background-color: white;
    border-color: rgb(97, 228, 184);
    color: rgb(97, 228, 184);
    border-style: solid;
}


/*footer y header*/
footer
{
position: absolute !important;
top: 100%;

}

header{
    position: absolute !important;
}