body
{
    background-color: beige;
}
header
{
    position:relative;
    color: #ffffff;
    top: 0;
    left: 0;
    width: 60%;
    padding: 15px 20%;
    background: rgb(77, 77, 77);
    display: flex;
    justify-content: space-evenly;
    align-items:end;
    z-index: 100;
    font-size: large    ;
}
footer
{
    background-color: rgb(59, 58, 58);
    font-size: large;
    color: white;
    text-align: center;
    justify-content: center;
    position:relative ;
    width: 80%;
    left: 10%;
}
footer h1
{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: white;
    
}
footer ul
{
    list-style: none;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: white;
}



/*bloques*/

.contenedor 
{
    margin-top: 20px;
    margin-left: 25%;
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    position:flex ;
    
}


